.battlewrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.battlewrapper .most {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.battlewrapper .algutabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .battlewrapper {
    width: 100%;
  }
}
