.navbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}
.right-side,
.left-side {
  border: none;
}
.right-side.navbtn,
.left-side.navbtn {
  display: inline-block;
}
.right-side.navbtn button,
.left-side.navbtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: auto;
  padding: 0px 20px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
.right-side.navbtn button {
  height: 35px;
  background-color: #2e8b57;
  margin-right: 15px;
  border-radius: 5px;
}
.left-side.navbtn button:hover {
  background-color: #212529;
}
.right-side.navbtn button:hover {
  background-color: #236a42;
}

.toggle-button {
  display: none;
}
.navbar a {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
.navbar a:hover {
  background-color: #212529;
}
@media screen and (max-width: 790px) {
  .navbar {
    width: 100%;
    min-height: 50px;
    flex-direction: column;
  }
  .navbar a {
    display: flex;
  }
  .right-side,
  .left-side {
    display: none;
    width: 100%;
  }
  .right-side.navbtn,
  .left-side.navbtn {
    display: flex;
    flex-direction: column;
  }
  .right-side.navbtn button {
    margin-right: 0px;
  }
  .toggle-button {
    display: flex;
  }
  .right-side.active,
  .left-side.active {
    display: flex;
    flex-direction: column;
  }
}
