.table-style {
  width: 100%;
  padding-bottom: 10px;
}
.table-style table {
  backdrop-filter: blur(5px);
  border-collapse: collapse;
  color: white;
  width: 100%;
  text-shadow: 0px 0px 2px black, -2px -2px 2px black, 2px -2px 2px black,
    -2px 2px 2px black, 2px 2px 2px black;
  text-align: center;
}
.table-style table th,
.table-style table td {
  word-break: break-word;
  border-bottom: 2px solid transparent;
  padding-right: 10px;
}
table .battleHeader {
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  padding-left: 5px;
}
table .battleData {
  padding-right: 5px;
}
.table-style tr:nth-child(even) {
  background-color: rgba(30, 38, 43, 0.3);
}
.table-style tr:nth-child(odd) {
  background-color: rgba(174, 176, 178, 0.3);
}
.table-style th {
  background-color: rgba(3, 16, 22, 0.3);
}
.table-style th button {
  height: 30px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  word-break: keep-all;
}
.table-style th button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.table-navig {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.table-select {
  background-color: transparent;
  color: white;
}
.table-select option {
  background-color: rgb(30, 38, 43);
}

.table-scroll {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.table-scroll tbody {
  display: block;
  height: 75vh;
  overflow-y: auto;
}

.table-scroll thead,
.table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-style table button {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  text-shadow: 0px 0px 2px black, -2px -2px 2px black, 2px -2px 2px black,
    -2px 2px 2px black, 2px 2px 2px black;
  text-align: center;
  align-items: center;
}

.table-style thead button.ascending::after {
  display: inline-block;
  content: url("../Icons/up_navigation_icon.svg");
  width: 15px;
  height: 15px;
}
.table-style thead button.descending::after {
  display: inline-block;
  content: url("../Icons/down_navigation_icon.svg");
  width: 15px;
  height: 15px;
}
