.App {
  text-align: center;
  background-image: url("./Images/fax_backgroundv2.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
